<center><h2>Tickets</h2>

<%= render 'form', ticket: @ticket %>

<div class="actions">
    <%= link_to 'Home', root_path, class: 'btn btn-secondary' %>
    <%= link_to 'Back', tickets_path, class: 'btn btn-secondary' %>
</div></center>
